/* Responsive mixins */

$width-small: 700px;
$width-medium: 1000px;
$width-large: 1200px;
$width-xl: 1401px;
$width-xxl: 1600px;

@mixin responsive($width) {

  @if $width == wide-screen {

    @media only screen and (max-width: $width-large) {@content};
  }

  @else if $width == medium-screen {

    @media only screen and (max-width: $width-medium) {@content};
  }

  @else if $width == small-screen {

    @media only screen and (max-width: $width-small) {@content};
  }

  @else if $width == xl-screen {

    @media only screen and (min-width: $width-xl) {@content};
  }

  @else if $width == xxl-screen {

    @media only screen and (min-width: $width-xxl) {@content};
  }
}

@mixin landscape {

    @media only screen and (max-height: 500px)
                       and (orientation: landscape) {@content};
}

@mixin Slandscape {

    @media only screen and (max-height: 300px)
                       and (orientation: landscape) {@content};
}
